.address {
  font-style: normal;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.info-list__link {
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
  color: var(--text-color-transparent);
}

.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width:1199px) {
    margin-top: 20px;
  }
}


.info-list__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
    .info-list__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

    .info-list {
    margin-top: 20px;
    }
}




