// .social-list {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 206px;
//   height: 44px;
//   margin-left: 32px;
//   margin-right: 32px;
//   margin-top: 16px;
// }

// // .social-list > a {
// //   width: 100%;
// //   height: 100%;
// // }

// .social-list__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background-color: var(--text-color-white);

//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: var(--timimg-function);

//     &:hover,
//     &:focus {
//       background-color: var(--accent-color);
//     }
// }

// .social-list__icon {
//   fill: #afb1b8;

//   transition-property: fill;
//   transition-duration: 250ms;
//   transition-timing-function: var(--timimg-function);

//     .social-list__link:hover &,
//     .social-list__link:focus & {
//       fill: var(--text-color-white);
//     }
// }